.ShoppingItem {
    padding: 20px;
    margin: 10px;
    height: 200px;
    width: 150px;
    list-style: none;
    border: 2px solid #eae;

    &__id {
      color: red;
    }

    &__name {
        
    }

    &__price {
        
    }

    &__description {
        
    }
}